@font-face {
	font-family: 'Opus Pro Webfont';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/opus_pro-regular-webfont.woff') format('woff');
}


:root {
	--scalar-custom-header-height: 50px;
	--scalar-font: 'Onest', sans-serif;
	--scalar-heading-1: 28px;

	--opusdns-yellow: #fae64b;
	--opusdns-orange: #faa436;
	--opusdns-pink: #C81E78;
}

.custom-header {
	height: var(--scalar-custom-header-height);
	background-color: var(--scalar-background-1);
	box-shadow: inset 0 -1px 0 var(--scalar-border-color);
	color: var(--scalar-color-1);
	font-size: var(--scalar-font-size-2);
	padding: 0 18px;
	position: sticky;
	justify-content: space-between;
	top: 0;
	z-index: 100;

	&,
	nav {
		display: flex;
		align-items: center;
		gap: 18px;
	}

	a {
		text-decoration: none;
	}

	a:hover {
		opacity: 0.8;
	}

	.opusdns-logo {
		height: 45px;
	}
}

.signup-button {
	padding: 7px 10px 10px 13px;
	background: var(--opusdns-yellow);
	color: black;
	border-radius: 30px;
	display: flex;

	svg {
		margin-top: 2px;
		margin-left: 6px;
	}
}


.light-mode {
	--scalar-color-1: black;
	--scalar-color-2: #3C3C3C;
	--scalar-color-3: var(--opusdns-pink);
	--scalar-color-accent: #2665c4;
	--scalar-border-color: #b5b5b5;

	.sidebar-heading-chevron {
		--scalar-color-3: var(--opusdns-orange);
	}

	#dark-logo {
		display: none;
	}
}

.dark-mode {
	--scalar-color-3: #6ecdeb;
	--scalar-color-accent: #2665c4;
	--scalar-border-color: #575757;

	.sidebar-heading-chevron {
		--scalar-color-3: var(--opusdns-yellow);
	}

	#light-logo {
		display: none;
	}
}

h1,
h2,
h3 {
	font-family: "Opus Pro Webfont", "Onest", sans-serif;
}

.footer {
	padding: 50px 25px 25px 25px;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto;
	align-items: start;
	gap: 2rem;
	background: black;

	.footer-logo {
		display: flex;
		justify-content: center;


		img {
			width: 150px;
			max-width: 150px;
			height: auto;
			padding: 20px;
		}
	}

	.footer-links {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		gap: 2rem;

		.link-column {
			width: 150px;
			flex-shrink: 0;

			h4 {
				margin-bottom: 0.5rem;
				font-size: 1.1rem;
				text-transform: uppercase;
				letter-spacing: 2px;
			}

			a {
				display: block;
				color: var(--scalar-color-2);
				text-decoration: none;
				margin-top: 13px;
			}

			a:hover {
				color: #fff;
			}
		}

		.icann-logo {
			margin-top: 15px;
			width: 100px;
		}
	}

	.footer-bottom {
		grid-column: 1 / -1;
		text-align: center;
		font-size: 0.9rem;

		p {
			color: var(--scalar-color-2);
			font-weight: 100;
		}
	}
}



@media (max-width: 768px) {
	.footer {
		grid-template-columns: 1fr;

		.footer-links {
			justify-content: center;

			.link-column {
				width: 45%;
				max-width: 150px;
			}
		}
	}
}
