name: Generate TypeScript types

on:
  repository_dispatch:
    types: [openapi_spec_update]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

permissions:
  id-token: write
  contents: write

jobs:
  generate_types:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download OpenAPI Spec
        uses: dawidd6/action-download-artifact@v9
        with:
          workflow: generate-openapi-spec.yaml
          repo: OpusDNS/opusdns-api
          name: openapi-spec
          github_token: ${{secrets.GH_PAT_OPENAPI_OPUSDNS_API}}

      - name: Get current OpenAPI version
        uses: mikefarah/yq@master
        id: currentOpenApiVersion
        with:
          cmd: yq '.info.version' src/openapi.yaml

      - name: Prepare temporary file with ignored OpenAPI version
        run: |
          cp openapi.yaml openapi-ignore-version.yaml

      - name: Set current OpenAPI version on temporary file
        run: |
          sed -i 's/^  version: .*/  version: ${{ steps.currentOpenApiVersion.outputs.result }}/' openapi-ignore-version.yaml

      - name: Override OpenAPI spec
        run: |
          mv openapi-ignore-version.yaml src/openapi.yaml

      - uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org/'

      - name: Install Dependencies
        run: npm install

      - name: Generate TypeScript API Schema
        run: npm run generate:schema

      - name: Generate TypeScript API helpers
        run: npm run generate:helpers

      - name: Commit & Push Changes
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add .
          if git diff --staged --quiet; then
            echo "No changes to commit."
          else
            mv openapi.yaml src/openapi.yaml
            npm run generate:schema
            npm run generate:helpers
            git add .
            git commit -m "Update OpenAPI spec and types"
            npm version minor
            git push
            npm publish --access public
          fi
